<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation</title>
</head>
<body>
<h3> Student Confirmation Details:</h3>
Student Name: <span th:text="${student.firstName}+ ' '+ ${student.lastName}"/>
<br><br>
Student Email: <span th:text="${student.email}"/>
<br><br>
Country: <span th:text="${student.country}"/>
<br><br>
Programming Language: <span th:text="${student.favoriteProgrammingLanguage}"/>
<br><br>
Operating System: 
<ul>
    <li th:each="tempSystem: ${student.operatingSystem}" th:text="${tempSystem}"></li>
</ul>
</body>
</html>