<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3> Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

  First Name: <label> <input type="text" th:field="*{firstName}"/></label>
  <br><br>

  Last Name:<label><input type="text" th:field="*{lastName}"/></label>
  <br><br>

  Email:<label><input type="text" th:field="*{email}"/></label>
  <br><br>

  Country
  <label>
    <select th:field="*{country}">
      <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
    </select>
  </label>

  <br><br>
  Favorite Programming Language:
  <label>
    <input type="radio" th:field="*{favoriteProgrammingLanguage}" th:each="tempLanguages: ${languages}" th:value="${tempLanguages}" th:text="${tempLanguages}"/>
  </label>

  <br><br>
  Favorite Programming Language:
  <label>
    <input type="checkbox" th:field="*{operatingSystem}" th:each="tempSystem: ${operating_system}" th:value="${tempSystem}" th:text="${tempSystem}"/>
  </label>

  <br><br>
  <input type="submit" value="Submit"/>

</form>
</body>
</html>